Django==6.0.7
python-dotenv==1.1.1
gunicorn==26.0.0
Pillow==12.3.0
djangorestframework==3.17.1
drf-spectacular==0.29.0
django-cors-headers==4.9.0
psycopg[binary]==3.3.4
boto3==1.43.62
prometheus-client==0.23.1
opentelemetry-api==1.38.0
opentelemetry-sdk==1.38.0
opentelemetry-exporter-otlp==1.38.0
opentelemetry-instrumentation-django==0.59b0
